<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <style>
        body{
            background-color: rgb(225, 248, 255);
        }
        h1{
            color: rgb(47, 47, 120);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #edit{
            padding: 2px 7px;
            font-size: 16px;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #delete{
            padding: 2px 7px;
            font-size: 16px;
            background-color: #c62c2c;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #view{
            padding: 2px 7px;
            font-size: 16px;
            background-color: #0c4fc2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #create{
            padding: 2px 7px;
            font-size: 16px;
            background-color: #ffc400;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        a{
            color: aliceblue;
            text-decoration: none;
        }
        table,td{
            border: 2px solid black;
            text-align: center;
            padding: 5px;
            background-color: #222934;
        }
        td{
            background-color: rgb(217, 240, 249);
        }
        th{
            font-size: larger;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: aliceblue;
        }
        
    </style>
</head>
<body>
    <center>
    <h1>Books</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>author</th>
            <th>Action</th>
        </tr>
        <% for(var i = 0; i < books.length;i++) { %>
        <tr>
            <td><%= books[i].title %></td>
            <td><%= books[i].author %></td>
            <td>
                <button id="view"><a href="/book/<%= books[i].id %>">View</a></button>
                <button id="edit"><a href="/update/<%= books[i].id %>">Edit</a></button>
                <button id="delete"><a href="/delete/<%= books[i].id %>">Delete</a></button>
            </td>
        </tr>
        <% } %>
    </table><br>
    <button id="create"><a href="/create">Create New Book</a></button>
</center>
</body>
</html>