<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Books</title>
    <style>
        body{
            background-color: rgb(225, 248, 255);
        }
        h1{
            color: rgb(47, 47, 120);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        p{
            color: rgb(57, 7, 101);
            font-weight:bolder;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        #update{
            padding: 5px 9px;
            font-size: 16px;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;
        }
        #delete{
            padding: 5px 9px;
            font-size: 16px;
            background-color: #c62c2c;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            
        }
        #view{
            padding: 5px 9px;
            font-size: 16px;
            background-color: #0c4fc2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        #Back{
            padding: 5px 9px;
            font-size: 16px;
            background-color: #fdc200;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        label{
            color: rgb(61, 61, 149);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <center>
    <h1>Update Book</h1>
    <form method="post" action="/update/<%= book.id%>">
        <label for="title" >Title:</label>
        <input type="text" id="title" name="title" value="<%= book.title %>">
        <br><br>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= book.author%>">
        <br><br>
        <input type="submit" value="Update" id="update">
    </form>
    <br>
    <button id="view"><a href="/book/<%= book.id%>">View</a></button>
    <button id="delete"><a href="/delete/<%= book.id%>">Delete</a></button>
    <button id="Back"><a href="/">Back to list</a></button>
</center>
</body>
</html>